
/* 
 * This file is reserved for your global style rules. 
 */

html {
    font-family: sans-serif;
    color: #333;
    
    /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0; /* Remove default margin */
}
.btn-primary {
    background-color: #00457c;
    color: #FFF;
    font-size:18px;
    padding:8px 15px;
    border-radius: 4px;
    font-weight: 100;
    letter-spacing: 1.1px;
    text-decoration: none;
    border:none;
    cursor:pointer;
}

.btn-primary:hover {
    background-color: #286fb9;
}

.btn-primary-disabled {
    background-color: #698296;
    color: #FFF;
    font-size:18px;
    padding:8px 15px;
    border-radius: 4px;
    font-weight: 100;
    letter-spacing: 1.1px;
    text-decoration: none;
    border:none;
    cursor:pointer;
}
